<nav class="menu">
	<h1 style= " font-size: 65px; color: forestgreen; text-align: center;">Teacher's Pet</h1>
	<ul class="menuList text-center">
		<li class="menuListElement"><a style="text-decoration: none;" href="#/!">HOME</a></li>
		<li class="menuListElement dropdwn" ><a style="text-decoration: none;" href="#!portfolio" class="dropbtn text-center">PORTFOLIO</a>
			<div class="dropdown-content text-left">
				<a style="text-decoration: none;" href="#!portfolio1">PORTFOLIO1</a>
				<a style="text-decoration: none;" href="#!portfolio2">PORTFOLIO2</a>
			</div>
		</li>
		<li class="menuListElement"><a style="text-decoration: none;" href="#!team">TEAM</a></li>
		<li class="menuListElement"><a style="text-decoration: none;" href="#!contact">CONTACT</a></li>
		<li class="menuListElement"><a style="text-decoration: none;" href="#!signIn">SIGN IN</a></li>
	</ul>
</nav>