<nav class="menu">
	<h1 style= " font-size: 65px; color: rgb(130,165,134); text-align: center;">Teacher's Pet</h1>
	<ul class="menuList text-center">
		<li class="menuListElement"><a style="text-decoration: none;" href="#/!">HOME</a></li>
		<li class="menuListElement dropdwn" ><a style="text-decoration: none;" href="#!classes" class="dropbtn text-center">CLASSES</a>
			<div class="dropdown-content text-left">
				<a style="text-decoration: none;" href="#!portfolio1">PORTFOLIO1</a>
				<a style="text-decoration: none;" href="#!portfolio2">PORTFOLIO2</a>
			</div>
		</li>
		<li class="menuListElement"><a style="text-decoration: none;" href="#!test">TEST</a></li>
	</ul>
</nav>