<h1 class="text-center">What would you like to do?</h1>
<div class="text-center">
    <a href="#!rand_student">
        <div class="actionBox">
            <p style="font-size: 20pt">Random Student</p>
            <img style="zoom: 30%" src="img/student_profiles.png">
        </div>
    </a>
    <a href="#!rand_groups">
        <div class="actionBox">
            <p style="font-size: 20pt">Random Groups</p>
            <img style="zoom: 30%" src="img/groups.png">
        </div>
    </a>
    <a href="#!seating">
        <div class="actionBox">
            <p style="font-size: 20pt">Seating Chart</p>
            <img style="zoom: 30%" src="img/seating_chart.png">
        </div>
    </a>
    <a href="#!profiles">
        <div class="actionBox">
            <p style="font-size: 20pt">Student Profiles</p>
            <img style="zoom: 30%" src="img/student_profiles.png">
        </div>
    </a>
</div>