<h6>Total Students: 40</h6>
<h6>Total Bad Pairs: 11</h6>

<button type="button" class="newCustBtn" onclick="rand(students)">Random</button>
<div>
    <p id="display1">x</p>
</div>

<button type="button" class="newCustBtn" onclick="pair(students)">Pairs</button>
<div>
    <p id="display2">x</p>
</div>

<input type="number" min="2" max="7" value="3" id="students_per_group"/>
<button type="button" class="newCustBtn" ng-click="ctrl.update()">Groups</button>
<div>
    <p id="display3">{{display3}}</p>
</div>



