<div class="signInBox" style="padding-bottom: 60px">
	<form class="form-signin" action="#!classes">       
        <h2 class="form-signin-heading">New Account</h2>
        
		<h5 class="lbl">Email</h5>
        <input type="text" class="form-control" name="username" required="" autofocus="" />
        
		<h5 class="lbl">Password</h5>
        <input type="password" class="form-control" name="password" required=""/>
        
		<h5 class="lbl">Retype Password</h5>
        <input type="password" class="form-control" name="re_password" required=""/>
        
		<button class="btn btn-lg btn-block mainBtn" type="submit">Create Account</button>  
		
		<h5>By creating an account you are agreeing to our <a href="#!TnC">Terms and Conditions</a></h5>
		
		<hr />
	</form>
</div>