<div class="signInBox" style="padding-bottom: 60px">
    <form class="form-signin" action="#!profiles">
        <h2 class="form-signin-heading">Create Student</h2>

        <h5 class="lbl">Student Name</h5>
        <input type="text" class="form-control" name="student_name" required="" autofocus="" />

        <h5 class="lbl">Bad Pair 1</h5>
        <input type="text" class="form-control" name="BP1" required="" autofocus="" />

        <h5 class="lbl">Bad Pair 2</h5>
        <input type="text" class="form-control" name="BP2" required="" autofocus="" />

        <h5 class="lbl">Special Needs</h5>
        <input type="radio" name="special_needs" required="" autofocus="" /> yes 
        <input style="margin-left: 15px" type="radio" name="special_needs" required="" autofocus="" /> no

        <div style="padding-top: 20px">
            <button class="btn btn-lg btn-block mainBtn" type="submit">Add Student</button>
        </div>
    </form>
</div>