<div class="container" align="center">
    <div class="col1">
        <button type="button" class="RandStudent" onclick="pair(students)">Pairs</button>
        <div>
            <p id="display2"></p>
        </div>
    </div>

    <div class="col2">
        <button type="button" class="RandStudent" ng-click="ctrl.update()">Groups</button>
        <input type="number" min="3" max="7" value="3" id="students_per_group"/>
        <div>
            <p id="display3">{{display3}}</p>
        </div>
    </div>
</div>
