<div class="signInBox">
	<form class="form-signin" action="#!classes">       
		<h2 class="form-signin-heading">Sign in</h2>

		<h5 class="lbl">Email</h5>
		<input type="text" class="form-control" name="username" required="" autofocus="" />

		<h5 class="lbl">Password</h5>
		<input type="password" class="form-control" name="password" required=""/> 
		<a class="forgotPass" href="#!forgotPass">Forgot Password</a>

		<button class="btn btn-lg btn-block mainBtn" type="submit">Sign in</button>
		
		<h5>By signing in you are agreeing to our <a href="#!TnC">Terms and Conditions</a></h5>
		
		<hr />
		<a class="btn btn-lg btn-block newCustBtn" href="#!newAccount">Create new account</a>
	</form>
</div>